<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manpdev.androidnanodegree.popularmov">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".movie.movielist.MovieListActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".movie.moviedetails.MovieDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".movie.movielist.MovieListActivity" />
        </activity>

        <service
            android:name=".services.SyncDataService"
            android:exported="false"/>

        <provider
            android:authorities="com.manpdev.androidnanodegree.popularmov.movie"
            android:name=".movie.data.provider.MoviesProvider"
            android:exported="false"/>

    </application>

</manifest>
